# Environment variables
.env

# Generated config files
standalone_translator/character_config.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info
*.egg
